.file-list {
  margin-top: 40px;
  margin-left: 20px;
  display: ruby;
  flex-direction: column;
  gap: 10px;
}

mat-card {
  background: #f9f9f9;
  margin: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
