<main>
  <section class="form-section">
    <img src="assets/images/logo.png" width="50">
    <h2>{{title}} </h2>
    <div class="button-wrapper" *ngIf="showItemAdmin">
      <button (click)="usuarios()"         #tooltip="matTooltip"
              matTooltip="Visulizar Usuários"  class="button-secondary">Usuários</button>
    </div>
    <div class="button-wrapper"  *ngIf="showItemUser">
      <button (click)="enderecos()"         #tooltip="matTooltip"
              matTooltip="Visualizar Endereços"  class="button-secondary">Endereços</button>
    </div>
    <div class="button-wrapper" >
      <button (click)="arquivos()"         #tooltip="matTooltip"
              matTooltip="Visuliar arquivos" *ngIf="showItemAdmin" class="button-secondary">Arquivos</button>
    </div>
    <div class="button-wrapper">
      <button (click)="sair()"          #tooltip="matTooltip"
              matTooltip="Sair do Sistema" class="button-secondary">Sair</button>
    </div>
  </section>
  <section class="main-section">
    <ng-content></ng-content>
  </section>
</main>
