<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>Editar usuário</mat-card-content>

    <form>

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" [(ngModel)]="user.name" name="name" id="name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Nome" [(ngModel)]="user.email" name="email" id="email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Nome" [(ngModel)]="user.login" name="login" id="login">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>



    </form>
  </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button="" mat-dialog-close="" mat-ripple-loader-class-name="mat-mdc-button-ripple"  (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
