<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>  {{ titleFile }}</mat-card-content>
    <img *ngIf="showImage && !showPDF" [src]="base64" alt="Image Source">
    <ngx-extended-pdf-viewer *ngIf="showPDF" [src]="base64" height="600px"></ngx-extended-pdf-viewer>



  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button         #tooltip="matTooltip"
          matTooltip="Encerrar visualização" mat-dialog-close (click)="close()">Fechar</button>
</mat-dialog-actions>
