form{
  width: 100%;
  display: flex !important;
  flex-direction: column;
  margin-top: -44px;
}
mat-progress-bar.strong {
  background-color: green;
}
mat-progress-bar.weak {
  background-color: red;
}
