<h2 mat-dialog-title>Cadastrar Endereço</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div>
      <label for="cep">CEP</label>
      <mat-form-field>
        <input matInput placeholder="CEP" [(ngModel)]="address.cep" name="cep" id="cep" (blur)="fillAddress()">
      </mat-form-field>
    </div>
    <div>
      <label for="rua">Rua</label>
      <mat-form-field>
        <input matInput placeholder="Rua" [(ngModel)]="address.rua" name="rua" id="rua">
      </mat-form-field>
    </div>
    <div>
      <label for="cidade">Cidade</label>
      <mat-form-field>
        <input matInput placeholder="Cidade" [(ngModel)]="address.cidade" name="cidade" id="cidade">
      </mat-form-field>
    </div>
    <div>
      <label for="estado">Estado</label>
      <mat-form-field>
        <input matInput placeholder="Estado" [(ngModel)]="address.estado" name="estado" id="estado">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
