<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content>Cadastrar Endereco</mat-card-content>
  <form>
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" [(ngModel)]="address.cep" name="cep" id="cep" (blur)="fillAddress()">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Rua" [(ngModel)]="address.rua" name="rua" id="rua">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" [(ngModel)]="address.cidade" name="cidade" id="cidade">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" [(ngModel)]="address.estado" name="estado" id="estado">
      </mat-form-field>
  </form>
  </mat-card>
  <mat-card>
    <div id="map" #map></div>
  </mat-card>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>
